.hero_section {
  padding: 32px 0;
  .hero_swiper {
    width: 100%;
    height: 182px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-pagination-bullet {
      width: 24px;
      border-radius: 0;
      height: 3px;
      background: $white;
      transition: $transition;
      &.swiper-pagination-bullet-active {
        width: 48px;
      }
    }
  }
}
