.hero_section {
  padding: 32px 0;
  @media screen and (max-width: 576px) {
    padding: 0;
    padding-bottom: 24px;
    .container {
      padding: 0;
    }
  }
  .hero_swiper {
    width: 100%;
    height: 182px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (max-width: 576px) {
          border-radius: 0;
        }
      }
    }
    .swiper-pagination-bullet {
      width: 24px;
      border-radius: 0;
      height: 3px;
      background: $white;
      transition: $transition;
      &.swiper-pagination-bullet-active {
        width: 48px;
      }
    }
  }
}

.explore_ads {
  .categories_slider {
    width: 100%;

    &.subcategories_slider {
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 12px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .category {
        &.sub {
          background-color: $white;
        }
      }
    }
    .swiper-slide {
      width: fit-content !important;
      white-space: nowrap;
    }
  }
  .category {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 4px 4px 26px;
    margin: 0 8px;
    white-space: nowrap;
    color: $dark;
    border-radius: 200px;
    background: $inputBg;
    border: 1px solid $inputStroke;
    &:nth-child(1) {
      margin-inline-start: 0;
    }

    &.sub {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px !important;
      .image-wrapper {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 180px;

        img {
          object-fit: cover;
          height: 100%;
        }
      }
    }

    > .img {
      border-radius: 50%;
      background: $white;
      min-width: 32px;
      height: 32px;
      @include centerFlex();
      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
    h6 {
      margin: 0;
    }
    &.active {
      background: $main;
      h6 {
        color: $white;
      }
    }
    &.sub {
      padding: 10px 16px;
    }
    &.skeleton {
      animation: pulse 1.5s ease-in-out infinite;
      h6 {
        min-width: 32px;
      }
    }
  }
  .filter {
    padding: 12px;
    background: $inputBg;
    border-radius: 8px;
    @include space-between();
    .selects {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .grid_view {
      gap: 12px;
      display: flex;
      align-items: center;
      .dropdown {
        button {
          background: $white;
          border: 1px solid $lightGray;
          color: $main;
          padding: 11px 14px;
          @include centerFlex();
          &::after {
            display: none;
          }
        }
        .dropdown-item {
          text-align: start !important;
        }
      }
    }
    .css-1hf1o2u-container {
      min-width: 120px;
    }
  }
}
