@import "./config";

body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;

  @import "./header";
  @import "./footer";
  @import "./form-ui";
  @import "./auth_section";
  @import "./user";

  main {
    min-height: calc(100vh - 100px);
    @import "./home";
  }

  &.en {
    direction: ltr;
    header .mainLinks .moreActions .dropdown .dropdown-menu.show {
      inset: 26px auto auto -26px !important;
    }
    .form .phone_field .countriesMenu {
      right: 0;
      left: unset;
    }
    .closeModal {
      right: 16px;
      left: unset;
    }
  }
}
