@import "./config";
body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  @import "./header";
  @import "./footer";
  @import "./form-ui";
  @import "./auth_section";
  @import "./product";
  @import "./articles_section";
  @import "./profile_section";
  main {
    min-height: calc(100vh - 100px);
    @import "./home";
    @import "./contact";
    @import "./profile_section";
    @import "./articles_section";
    @import "./product_details";
    @import "./user";
    @import "./ads";
    @import "./search";
    @import "./chat";
    .error-section {
      padding: 60px 16px;
      @include centerFlex();
      gap: 16px;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        margin-bottom: 24px;
        @media screen and (max-width: 576px) {
          height: 230px;
        }
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: $dark;
        line-height: 1.7;
        max-width: 600px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
      a {
        color: $main;
        border: 1px solid $main;
        position: relative;
        transition: $transition;
        @include centerFlex();
        padding: 8px 24px;
        transition: $transition;
        border-radius: 12px;
        gap: 8px;
        background: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        transition: $transition;
        i {
          font-size: 16px;
        }
        &:hover {
          color: $white;
          border-color: $main;
          background-color: $main;
        }
      }
    }
  }

  .viewAskModal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .user_info {
      display: flex;
      align-items: center;
      gap: 12px;
      .img {
        min-width: 52px;
        max-width: 52px;
        height: 52px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        h6 {
          color: $main;
          margin: 0;
        }
        span {
          color: $text;
          font-size: 12px;
        }
      }
    }
    p {
      margin: 0;
    }
    .wrapper {
      height: 50vh;
      display: flex;
      flex-direction: column;
      gap: 24px;
      background: $inputBg;
      padding: 16px;
      border-radius: 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      > .CommentWrapper {
        > .CommentCard {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  .confirm-delete {
    p {
      color: $dark;
      font-size: 16px;
      margin-bottom: 24px;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $inputStroke;
      color: $dark;
      width: 100%;
      outline: none;
      background: none;
      padding: 12px;
      border-radius: 12px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: rgb(255, 0, 0);
      color: $white;
      border-radius: 12px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: $main;
      }
    }
  }

  .notifications_section {
    padding: 40px 0;
  }

  .notificationCard {
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: $inputBg;
    .img {
      min-width: 48px;
      max-width: 48px;
      height: 48px;
      img {
        border: 1px solid $inputStroke;
        background: $white;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }
    }
    .notify {
      h6 {
        font-size: 14px;
        text-align: start;
        color: $dark;
      }
      p {
        font-size: 12px;
        text-align: start;
        color: $text;
        margin: 0;
      }
    }
  }

  .CommentCard {
    gap: 12px;
    display: flex;
    position: relative;
    &.reverse {
      padding: 16px;
      border-radius: 12px;
      background-color: $white;

      &::before,
      &::after {
        display: none;
      }

      .comment {
        background-color: #f9f9f9 !important;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 18px;
      border-radius: 0 0 24px 0;
      right: -30px;
      top: 0;
      border-right: 1px solid #a5a5a5;
      border-bottom: 1px solid #a5a5a5;
    }
    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 42px;
      width: 1px;
      height: 100%;
      background: #a5a5a5;
    }
    .img {
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      h6 {
        color: $main;
        margin-bottom: 8px;
      }
      .comment {
        background: $white;
        padding: 12px;
        border-radius: 12px;
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
    .actions {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 16px;
      span {
        font-size: 12px;
        color: $gray;
        flex: 1;
      }
      button {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        color: $gray;
      }
    }
  }

  .CommentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    gap: 24px;
    .replies {
      padding-right: 48px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 18px;
        top: 0px;
        width: 1px;
        height: 100%;
        background: #a5a5a5;
      }
      .CommentCard {
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
      .CommentWrapper {
        &:last-child {
          &::after {
            content: "";
            width: 3px;
            height: calc(100% - 5px);
            border-radius: 50%;
            background: #f8f8f8;
            position: absolute;
            right: -31px;
            top: 12px;
            z-index: 2;
          }
        }
      }
    }
    &:not(:has(.replies)) {
      .CommentWrapper {
        .CommentCard {
          &::after {
            display: none;
          }
        }
      }
    }
    &:not(:has(.replies .CommentWrapper)) {
      .CommentCard {
        &::after {
          display: none;
        }
      }
    }
  }

  .replyTo {
    font-size: 14px;
    color: $gray;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    b {
      color: $main;
    }
  }

  .addCommentForm {
    display: flex !important;
    align-items: end !important;
    flex-direction: row;
    button {
      width: fit-content !important;
      padding: 0 24px !important;
      height: 56px !important;
    }
  }

  .categories-page {
    padding: 24px 0;
  }

  &.en {
    direction: ltr !important;
    input,
    select,
    textarea {
      direction: ltr !important;
    }

    .pass-group {
      .show-pass {
        border-radius: 0 12px 12px 0 !important;
      }
      input {
        border-radius: 12px 0 0 12px !important;
      }
    }

    .form .image-change-wrapper .img-wrap {
      .dropdown {
        left: unset !important;
        right: 0 !important;
      }
      .upload-btn {
        left: unset !important;
        right: -4px !important;
      }
    }

    .image-change-wrapper .cover-wrap {
      .dropdown {
        left: unset !important;
        right: 16px !important;
      }
    }

    header .mainLinks .moreActions .dropdown .dropdown-menu.show {
      inset: 26px auto auto -26px !important;
    }
    main .explore_ads .categories_slider .swiper-slide .category {
      padding: 4px 26px 4px 4px;
      &.sub {
        padding: 10px 16px;
      }
    }
    .form .phone_field {
      label {
        direction: ltr !important;
      }
      .countriesMenu {
        right: 0;
        left: unset;
      }
    }
    .closeModal {
      right: 16px;
      left: unset;
    }
    .Arrow_icon {
      transform: scale(-1);
    }
  }
}
.empty-section {
  flex: 1 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  h2 {
    margin: 0;
    text-align: center;
    text-wrap: balance;
    font-size: 36px;
    font-weight: 800;
    color: #cecece;
    line-height: 1.6;
  }
}
