@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("/images/icons/close.svg");
  margin-inline-start: auto !important;
  margin-inline-end: 0 !important;
}
.modal-header h6 {
  color: #0d0d0d;
  margin-bottom: 0;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
:root {
  --bs-border-radius-lg: 24px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
.closeModal i {
  color: #0d0d0d;
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 16px;
  width: 160px;
  margin: auto;
  border: 1px solid #1abc9c;
  color: #1abc9c;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.customBtn::after {
  position: absolute;
  content: "";
  height: 1000px;
  width: 0;
  right: 50%;
  transition: 0.3s ease-in-out;
  background: #1abc9c;
  transform: rotate(-25deg);
  z-index: -1;
}
.customBtn:hover {
  color: #fff;
  border-color: #1abc9c;
}
.customBtn:hover::after {
  width: 110%;
  right: -10px;
}

.getAppModal {
  text-align: center;
}
.getAppModal .modal-body {
  padding: 24px;
}
.getAppModal .modalHeader {
  position: relative;
}
.getAppModal .modalHeader .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.getAppModal .modalBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.getAppModal .modalTitle {
  flex: 1;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .getAppModal .modalTitle {
    font-size: 24px;
  }
}
.getAppModal .modalTitle span {
  color: #1abc9c;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .getAppModal .modalTitle span {
    font-size: 24px;
  }
}
.getAppModal .qrcode {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.getAppModal .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.getAppModal .btns img {
  height: 42px;
}

.css-t3ipsp-control {
  border-color: #eeeeee !important;
  box-shadow: none !important;
}
.css-t3ipsp-control:hover {
  background-color: #fff !important;
}

.css-13cymwt-control {
  border-color: #eeeeee !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.image_laoder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  background: #e9e9e9;
}

body {
  position: relative;
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
body header {
  position: sticky;
  top: 0;
  right: 0;
  gap: 4px;
  width: 100%;
  z-index: 1024;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
}
body header .mainLinks {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 4px 0 !important;
  gap: 4px;
  justify-content: space-between;
}
body header .mainLinks .searchForm {
  flex: 1;
  margin-bottom: 0;
}
@media screen and (min-width: 576px) {
  body header .mainLinks .searchForm {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  body header .mainLinks .searchForm {
    display: none;
  }
}
body header .mainLinks .navbar-brand {
  padding: 4px;
}
body header .mainLinks .navbar-brand img {
  height: 52px;
  max-width: 250px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}
body header .mainLinks .navbar {
  padding: 6px;
  padding-left: 24px;
  text-align: center;
}
body header .mainLinks .navbar .navbar-nav {
  flex: 1;
}
body header .mainLinks .navbar .navbar-nav .navLink {
  flex: 1;
  white-space: nowrap;
  padding: 8px 16px;
  color: #0d0d0d;
  text-transform: capitalize;
}
body header .mainLinks .navbar .navbar-nav .navLink:hover, body header .mainLinks .navbar .navbar-nav .navLink.active {
  color: #1abc9c;
}
body header .mainLinks .navbar .logo {
  display: none;
  padding: 5px;
  margin-bottom: 20px;
}
body header .mainLinks .navbar .logo img {
  height: 60px;
  min-width: 120px;
  max-width: 250px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}
@media screen and (max-width: 992px) {
  body header .mainLinks .navbar {
    order: 3;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
  }
  body header .mainLinks .navbar .navbar-toggler {
    padding: 4px;
  }
  body header .mainLinks .navbar .navbar-nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    gap: 8px;
    background: #fff;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1019607843) -20px 10px 9px -4px;
    width: 300px;
    text-align: start;
    padding: 24px;
    transform: translateX(-400px);
    transition: 0.3s ease-in-out;
    z-index: 2;
  }
  body header .mainLinks .navbar .navbar-nav .logo {
    display: block;
  }
  body header .mainLinks .navbar .navbar-nav.show {
    transform: translateX(0px);
  }
  body header .mainLinks .navbar .navbar-nav .navLink {
    flex: unset;
  }
  body header .mainLinks .navbar .navbar-nav .navLink.active {
    border-radius: 8px;
  }
}
body header .mainLinks .moreActions {
  padding: 5px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}
body header .mainLinks .moreActions .customBtn {
  margin: unset;
  border-radius: 100px;
  text-transform: capitalize;
  padding: 8px 20px;
  width: unset;
}
@media screen and (max-width: 576px) {
  body header .mainLinks .moreActions .customBtn {
    display: none;
  }
}
body header .mainLinks .moreActions .link {
  color: #1abc9c;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  justify-content: center;
  background-color: #ecfcf9;
  height: 40px;
  border: 0;
  min-width: 40px;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
  position: relative;
}
body header .mainLinks .moreActions .link img {
  min-width: 16px;
  height: 16px;
  transition: 0.3s ease-in-out;
}
body header .mainLinks .moreActions .link:hover {
  background-color: #1abc9c;
  color: #fff;
}
body header .mainLinks .moreActions .link:hover img {
  filter: brightness(0) opacity(1) invert(1);
}
body header .mainLinks .moreActions .link:hover .count {
  background-color: #ecfcf9;
  color: #1abc9c;
}
body header .mainLinks .moreActions .link.text {
  padding: 8px 16px;
  white-space: nowrap;
  background-color: #1abc9c;
  color: #fff;
}
body header .mainLinks .moreActions .link.text img {
  filter: brightness(0) invert(1);
}
body header .mainLinks .moreActions .link .count {
  width: 20px;
  aspect-ratio: 1/1;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #1abc9c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: 0.3s ease-in-out;
  border: 1px solid #1abc9c;
}
body header .mainLinks .moreActions .dropdown .dropdown-menu {
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  animation: fadeIn 0.5s;
  inset: 26px auto auto 0 !important;
  flex-direction: column;
  border: 1px solid #dddddd;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body header .mainLinks .moreActions .dropdown .dropdown-menu.show {
  display: flex;
}
body header .mainLinks .moreActions .dropdown .dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: capitalize;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 8px;
}
body header .mainLinks .moreActions .dropdown .dropdown-item:active {
  background: none !important;
}
body header .mainLinks .moreActions .dropdown .dropdown-item img {
  height: 16px;
  width: 16px;
}
body header .mainLinks .moreActions .dropdown .dropdown-item a {
  width: 100%;
  color: #0d0d0d;
  display: flex;
  align-items: center;
  gap: 6px;
}
body header .mainLinks .moreActions .dropdown .dropdown-item a:hover {
  color: #1abc9c;
}
body header .mainLinks .moreActions .dropdown .dropdown-item:hover {
  background: none;
}
body header .mainLinks .moreActions .dropdown .dropdown-toggle::after {
  display: none;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu {
  flex-wrap: wrap;
  --bs-dropdown-min-width: 16rem;
  padding: 8px;
  gap: 4px;
  flex-direction: row;
  border-radius: 12px;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu p {
  padding: 8px;
  color: #666b88;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu .dropdown-item {
  border: 1px solid #dddddd;
  border-radius: 12px;
  aspect-ratio: 1;
  width: calc(50% - 2px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu .dropdown-item img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease-in-out;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu .dropdown-item:hover {
  background-color: #1abc9c;
  color: #fff;
  border-color: #1abc9c;
}
body header .mainLinks .moreActions .dropdown:has(.text) .dropdown-menu .dropdown-item:hover img {
  filter: brightness(0) invert(1);
}
body header .headerCategories {
  display: flex;
  width: min(100% - 8px, 1440px);
  margin: 0 auto;
  gap: 8px;
  overflow-x: auto;
}
body header .headerCategories .link {
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  padding-bottom: 16px;
  margin: 0 !important;
}
body header .headerCategories .link span {
  white-space: nowrap;
  display: block;
}
body header .headerCategories .link img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .headerCategoriesWithSub {
  display: flex;
  width: min(100% - 8px, 1440px);
  margin: 0 auto;
  gap: 12px;
}
body header .headerCategoriesWithSub .singleCategory {
  position: relative;
}
body header .headerCategoriesWithSub .singleCategory .link {
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  margin: 0 !important;
  white-space: nowrap;
  color: #0d0d0d;
}
body header .headerCategoriesWithSub .singleCategory .link img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .headerCategoriesWithSub .singleCategory .link:hover {
  color: #1abc9c;
}
body header .headerCategoriesWithSub .singleCategory .menu {
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  animation: fadeIn 0.5s;
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 200px;
  z-index: 2;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #dddddd;
  display: none;
  max-height: 400px;
  overflow-y: auto;
}
body header .headerCategoriesWithSub .singleCategory .menu.show {
  display: flex;
}
body header .headerCategoriesWithSub .singleCategory .menu .sub {
  color: #0d0d0d;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: capitalize;
}
body header .headerCategoriesWithSub .singleCategory .menu .sub:hover {
  background-color: #ecfcf9;
  color: #1abc9c;
}
body header .headerCategoriesWithSub .singleCategory.more {
  display: none;
}
body header .headerCategoriesWithSub .singleCategory.more .menu .singleCategory {
  padding: 0;
}
body header .headerCategoriesWithSub .singleCategory.more .menu .singleCategory .link {
  border-bottom: none !important;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  white-space: unset;
  color: #0d0d0d;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: capitalize;
}
body header .headerCategoriesWithSub .singleCategory.more .menu .singleCategory .link:hover {
  background-color: #ecfcf9;
  color: #1abc9c !important;
}
body header .headerCategoriesWithSub .singleCategory.more .menu .singleCategory .menu {
  display: none !important;
}
@media screen and (max-width: 576px) {
  body header .headerCategoriesWithSub .singleCategory:not(.more) .menu {
    display: none !important;
  }
}
body header .headerCategoriesWithSub .singleCategory:hover .link {
  border-bottom: 3px solid #1abc9c;
}
body header .headerCategoriesWithSub .singleCategory:hover:not(.more) .menu {
  display: flex;
}
body header.headerAnimate {
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1019607843);
}
body footer {
  border-top: 1px solid #f2f2f2;
  padding: 40px 0 0;
}
body footer .about_company {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .about_company .logo img {
  height: 86px;
}
body footer .about_company .text p {
  color: #666b88;
  line-height: 26px;
  padding-inline-end: 42px;
}
@media screen and (max-width: 576px) {
  body footer .about_company .text p {
    padding-inline-end: 0;
  }
}
body footer .col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 30px;
}
@media screen and (max-width: 576px) {
  body footer .col {
    padding: 0;
  }
}
body footer .col:last-child {
  padding-left: 0;
}
body footer .col h3 {
  color: #0d0d0d;
  font-weight: 600;
  margin: 0;
  font-size: 18px !important;
}
body footer .col ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body footer .col ul li a {
  display: flex;
  gap: 4px;
  color: #666b88;
  transition: 0.2s ease-in-out;
}
body footer .col ul li a:hover {
  color: #1abc9c;
}
body footer .col ul li a:hover span {
  width: 16px;
}
body footer .col ul li a span {
  transition: 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
}
body footer .copy_rights {
  border-top: 1px solid #f2f2f2;
  padding: 28px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  body footer .copy_rights {
    flex-direction: column-reverse;
    gap: 12px;
    padding-bottom: 100px;
  }
}
body footer .copy_rights p a {
  color: #1abc9c;
}
body footer .copy_rights p {
  text-align: center;
}
@media screen and (max-width: 576px) {
  body footer .copy_rights p {
    font-size: 12px;
  }
}
body footer .copy_rights .social_media ul {
  display: flex;
  gap: 8px;
}
body footer .copy_rights .social_media ul a {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: 0.2s ease-in-out;
  color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .copy_rights .social_media ul a i {
  font-size: 14px;
}
body footer .copy_rights .social_media ul a:hover {
  background: #1abc9c;
  border-color: #1abc9c;
  transform: translateY(-2px);
}
body footer .copy_rights .social_media ul a:hover i {
  color: #fff;
}
body footer .copy_rights .social_media ul a:hover svg path {
  fill: #fff;
}
body .download-app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 576px) {
  body .download-app {
    flex-direction: row;
  }
}
body .download-app li {
  width: 150px;
  background: #f8f8f8;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
body .download-app li:hover {
  background: #1abc9c;
}
body .download-app li:hover a .icon i,
body .download-app li:hover a p {
  color: #fff;
}
body .download-app li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px;
}
body .download-app li a .icon {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .download-app li a .icon i {
  font-size: 18px;
  color: #0d0d0d;
}
body .download-app li a p {
  font-size: 14px;
  text-align: end;
  color: #0d0d0d;
  margin: 0;
}
body .small_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  display: none;
}
@media screen and (max-width: 576px) {
  body .small_menu {
    display: flex;
  }
}
body .small_menu .menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 16px 12px;
  gap: 8px;
  color: #0d0d0d;
  font-size: 14px;
}
body .small_menu .menu_item i {
  font-size: 16px;
  color: #1abc9c;
}
body .small_menu .menu_item .center {
  width: 42px;
  height: 42px;
  background: #1abc9c;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
body .small_menu .menu_item .center i {
  color: #fff;
}
body .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .form .resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
}
body .form .resend-code .resend_link {
  color: #1abc9c;
  cursor: pointer;
}
body .form .resend-code .resend_link.disabled {
  pointer-events: none;
}
body .form .resend-code .timer span {
  color: #666b88;
}
body .form .back_btn {
  height: 56px;
  border-radius: 12px;
  border: 1px solid #0d0d0d;
  width: 120px;
  color: #0d0d0d;
  cursor: pointer;
  background: none;
  transition: 0.3s ease-in-out;
}
body .form .back_btn:hover {
  background: #1abc9c;
  color: #fff;
  border: 1px solid #1abc9c;
}
body .form .input-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  gap: 8px;
}
body .form .input-field label {
  color: #0d0d0d;
  display: flex;
  align-items: center;
  gap: 6px;
}
body .form .input-field label svg,
body .form .input-field label i {
  stroke: #0d0d0d;
  width: 16px;
  height: 16px;
}
body .form .input-field label img {
  height: 24px;
}
body .form .input-field label span {
  font-size: 12px;
  color: #aaaaaa;
}
body .form .input-field input,
body .form .input-field textarea,
body .form .input-field select {
  color: #0d0d0d;
  direction: rtl;
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 12px;
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  box-shadow: none !important;
}
body .form .input-field input::-moz-placeholder, body .form .input-field textarea::-moz-placeholder, body .form .input-field select::-moz-placeholder {
  font-size: 14px;
}
body .form .input-field input::placeholder,
body .form .input-field textarea::placeholder,
body .form .input-field select::placeholder {
  font-size: 14px;
}
body .form .input-field textarea {
  height: 140px;
  padding: 16px 12px;
}
body .form .input-field .input-span {
  position: absolute;
  color: #1abc9c;
  left: 12px;
  top: 46px;
}
body .form .forgetpass {
  align-self: flex-end;
  color: #1abc9c;
}
body .form .noAccount {
  color: #666b88;
}
body .form .noAccount span,
body .form .noAccount a {
  color: #1abc9c;
  cursor: pointer;
}
body .form p {
  color: #666b88;
}
body .form p a {
  color: #1abc9c;
  text-decoration: underline;
}
body .form button {
  width: 100%;
  height: 56px;
  gap: 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  background: #1abc9c;
}
body .form button.disabled {
  opacity: 0.7;
  pointer-events: none;
}
body .form .question {
  padding: 0 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .form .question .quest {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0d0d0d;
}
body .form .question .vendorInput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
body .form .question .vendorInput::after {
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 16px;
  content: "";
  background-color: #666b88;
  transition: 0.3s ease-in-out;
}
body .form .question .vendorInput::before {
  transition: 0.3s ease-in-out;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  content: "";
  background-color: #fff;
}
body .form .question .vendorInput:checked::after {
  background-color: #1abc9c;
}
body .form .question .vendorInput:checked::before {
  right: initial;
  left: 4px;
}
body .form .image-change-wrapper {
  border-radius: 16px;
  border: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
body .form .image-change-wrapper .img-wrap {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .form .image-change-wrapper .upload input {
  display: none;
}
body .form .image-change-wrapper .upload .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .form .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
body .form .auth_social_btn {
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #aaaaaa;
  color: #0d0d0d;
  gap: 16px;
}
body .form .auth_social_btn img {
  height: 28px;
}
body .form .line {
  width: 100%;
  height: 1px;
  background: #777777;
  position: relative;
  margin-top: 24px;
}
body .form .line span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 16px;
  color: #0d0d0d;
  white-space: nowrap;
}
@media (max-width: 576px) {
  body .form .line span {
    font-size: 14px;
  }
}
body .form .pass-group {
  display: flex;
}
body .form .pass-group .show-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 56px;
  border: 1px solid #f2f2f2;
  background: #f8f8f8;
  border-right: 0;
  border-radius: 12px 0 0 12px !important;
  color: #666b88;
  cursor: pointer;
}
body .form .pass-group input {
  border-left: 0 !important;
  border-radius: 0 12px 12px 0 !important;
}
body .form .phone-group .PhoneInput {
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}
body .form .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
body .form .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -33px;
  left: 10px;
}
body .form .phone-group .PhoneInput select {
  padding: 12px 6px 12px 30px;
  direction: ltr !important;
}
body .form .phone-group .phone-code {
  height: 54px;
  border-radius: 4px;
}
body .form .form_group {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  body .form .form_group {
    flex-direction: column;
  }
}
body .form .image_field {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
body .form .image_field label {
  color: #0d0d0d;
}
body .form .image_field label i {
  color: #1abc9c;
}
body .form .image_field .imagewrap {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #777777;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image_field .imagewrap input {
  display: none;
}
body .form .image_field .imagewrap .img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .image_field .imagewrap .img img {
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
body .form .advice {
  width: 100%;
  margin: 40px 0;
  border-radius: 4px;
  background-color: #ecfcf9;
  position: relative;
  padding-top: 22px;
  padding-bottom: 32px;
}
body .form .advice h6 {
  text-align: center;
  font-weight: 600;
  margin: 32px 0 12px;
  font-size: 16px;
  color: #0d0d0d;
}
body .form .advice .icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ecfcf9;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form .advice .icon img {
  max-height: 40px;
}
body .form .advice ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
body .form .advice ul li {
  color: #0d0d0d;
  gap: 6px;
  display: flex;
  align-items: center;
}
body .form .advice ul li i {
  width: 40px;
  color: #7dc0f7;
  font-size: 24px;
}
body .form .verify_image_field {
  padding: 22px;
  width: 100%;
  height: 230px;
  border: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
}
body .form .verify_image_field input {
  display: none;
}
body .form .phone_field {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: end;
  gap: 8px;
  position: relative;
}
body .form .phone_field img {
  height: 18px;
  aspect-ratio: 3/2;
  border-radius: 4px;
}
body .form .phone_field button {
  background: #f8f8f8;
  padding: 0 12px;
  color: #0d0d0d;
  min-width: 94px;
  border: 1px solid #f2f2f2;
}
body .form .phone_field button span {
  direction: ltr;
  line-height: 1;
}
body .form .phone_field .countriesMenu {
  display: none;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 0;
  background: #fff;
  z-index: 9;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
  gap: 4px;
  transition-property: opacity, display;
  transition-duration: 0.3s;
  transition-behavior: allow-discrete;
}
body .form .phone_field .countriesMenu .country {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 62px;
  border-radius: 12px;
  cursor: pointer;
}
body .form .phone_field .countriesMenu .country p {
  margin: 0;
  direction: ltr;
  color: #0d0d0d;
}
body .form .phone_field .countriesMenu .country .text {
  display: flex;
  align-items: center;
  gap: 8px;
}
body .form .phone_field .countriesMenu .country .text h6 {
  text-wrap: nowrap;
  margin: 0;
  font-size: 14px;
}
body .form .phone_field .countriesMenu .country:hover {
  background: #f8f8f8;
}
body .form .phone_field .countriesMenu.active {
  display: flex;
  opacity: 1;
}
body .wizard_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 16px 24px;
  background: #f8f8f8;
  border: 1px solid #777777;
  border-radius: 24px;
  scrollbar-width: none;
}
@media screen and (max-width: 576px) {
  body .wizard_tabs {
    padding: 16px 8px;
  }
}
body .wizard_tabs::after {
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background: #aaaaaa;
  left: 24px;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  body .wizard_tabs {
    overflow-x: scroll;
  }
  body .wizard_tabs::-webkit-scrollbar {
    display: none;
  }
}
body .wizard_tabs .wizard_tab {
  display: flex;
  gap: 8px;
  white-space: nowrap;
  align-items: center;
  background: #f8f8f8;
  z-index: 3;
  padding: 8px;
}
body .wizard_tabs .wizard_tab .step_no {
  transition: 0.3s ease-in-out;
  font-weight: 500;
  color: #0d0d0d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0d0d0d;
}
body .wizard_tabs .wizard_tab h6 {
  margin: 0;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
body .wizard_tabs .wizard_tab.active .step_no {
  border-color: #1abc9c;
  background: #1abc9c;
  color: #fff;
}
body .wizard_tabs .wizard_tab.active h6 {
  color: #1abc9c;
}
body .auth_section {
  width: 100%;
  display: flex;
  padding: 16px;
}
@media screen and (max-width: 768px) {
  body .auth_section {
    padding: 54px 16px 32px;
  }
}
body .auth_section .form_wrapper {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  body .auth_section .form_wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  body .auth_section .form_wrapper {
    padding: 0;
  }
}
body .auth_section .img_wrapper {
  aspect-ratio: 1/1;
  width: 50%;
}
@media screen and (max-width: 992px) {
  body .auth_section .img_wrapper {
    display: none;
  }
}
body .auth_section .img_wrapper .bg-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .authModal .modal-header {
  padding: 16px 8px 0 !important;
  padding-bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
body .authModal .modal-body {
  padding: 0 !important;
}
body .authModal .modal-body .modal-content {
  border-radius: 24px !important;
}
body .products_section {
  padding: 16px 0;
}
body .product_vertical {
  width: 100%;
  background: #f8f8f8;
  border-radius: 8px;
  display: flex;
}
body .product_vertical .img {
  min-width: 140px;
  max-width: 140px;
  aspect-ratio: 3/2;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
body .product_vertical .img .type {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #1abc9c;
  color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 14px;
}
body .product_vertical .img img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  body .product_vertical .img {
    min-width: 120px;
    max-width: 120px;
  }
}
body .product_vertical .img::after {
  position: absolute;
  top: 0;
  left: -80%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  z-index: 1;
}
body .product_vertical .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 16px;
}
body .product_vertical .content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
body .product_vertical .content .title .favourite_btn {
  background: #fff;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .product_vertical .content .title .favourite_btn.active i {
  font-weight: 600;
  color: red;
}
body .product_vertical .content .title h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #0d0d0d;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body .product_vertical .content .price {
  font-size: 18px;
  color: #1abc9c;
}
body .product_vertical .content .price span {
  color: #1abc9c;
  font-weight: bold;
}
body .product_vertical .content ul {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
body .product_vertical .content ul li {
  font-size: 14px;
  color: #666b88;
  display: flex;
  align-items: center;
  gap: 6px;
}
body .product_vertical .content ul li i {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
body .product_vertical .content ul li a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666b88;
}
body .product_vertical:hover .img img {
  transform: scale(1.1);
}
body .product_vertical:hover .img::after {
  animation: shine 1s;
}
body .product_vertical.skeleton {
  height: 100%;
}
body .product_vertical.skeleton .skeleton-img {
  width: 140px;
  border-radius: 8px;
  background: #e0e0e0;
  animation: pulse 1.5s ease-in-out infinite;
}
body .product_vertical.skeleton .skeleton-text {
  background: #e0e0e0;
  height: 16px;
  border-radius: 4px;
  width: calc(50% - 4px);
  animation: pulse 1.5s ease-in-out infinite;
}
body .product_vertical.skeleton .skeleton-text:first-child {
  width: 100%;
}
body .product_vertical.skeleton .skeleton-title {
  width: 60%;
  height: 24px;
  animation: pulse 1.5s ease-in-out infinite;
}
body .product_vertical.skeleton .skeleton-price {
  width: 40%;
  height: 20px;
  animation: pulse 1.5s ease-in-out infinite;
}
body .product_vertical.skeleton .skeleton-btn {
  min-width: 32px;
  height: 32px;
  background: #e0e0e0;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
body main {
  min-height: calc(100vh - 100px);
}
body main .hero_section {
  padding: 32px 0;
}
body main .hero_section .hero_swiper {
  width: 100%;
  height: 182px;
}
body main .hero_section .hero_swiper a {
  display: block;
  width: 100%;
  height: 100%;
}
body main .hero_section .hero_swiper a img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .hero_section .hero_swiper .swiper-pagination-bullet {
  width: 24px;
  border-radius: 0;
  height: 3px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
body main .hero_section .hero_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 48px;
}
body main .explore_ads .categories_slider {
  width: 100%;
}
body main .explore_ads .categories_slider .swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
  white-space: nowrap;
}
body main .explore_ads .categories_slider .swiper-slide .category {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 4px 4px 26px;
  margin: 0 8px;
  white-space: nowrap;
  color: #0d0d0d;
  border-radius: 200px;
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
}
body main .explore_ads .categories_slider .swiper-slide .category .img {
  border-radius: 50%;
  background: #fff;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .explore_ads .categories_slider .swiper-slide .category .img img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .explore_ads .categories_slider .swiper-slide .category h6 {
  margin: 0;
}
body main .explore_ads .categories_slider .swiper-slide .category.active {
  background: #1abc9c;
}
body main .explore_ads .categories_slider .swiper-slide .category.active h6 {
  color: #fff;
}
body main .explore_ads .categories_slider .swiper-slide .category.sub {
  padding: 10px 16px;
}
body main .explore_ads .categories_slider .swiper-slide .category.skeleton {
  animation: pulse 1.5s ease-in-out infinite;
}
body main .explore_ads .categories_slider .swiper-slide .category.skeleton h6 {
  min-width: 32px;
}
body main .explore_ads .filter {
  padding: 12px;
  background: #f8f8f8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .explore_ads .filter .selects {
  display: flex;
  gap: 12px;
  align-items: center;
}
body main .explore_ads .filter .grid_view {
  gap: 12px;
  display: flex;
  align-items: center;
}
body main .explore_ads .filter .grid_view .dropdown button {
  background: #fff;
  border: 1px solid #eeeeee;
  color: #1abc9c;
  padding: 11px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .explore_ads .filter .grid_view .dropdown button::after {
  display: none;
}
body main .explore_ads .filter .grid_view .dropdown .dropdown-item {
  text-align: start !important;
}
body main .explore_ads .filter .css-1hf1o2u-container {
  min-width: 120px;
}
body.en {
  direction: ltr;
}
body.en header .mainLinks .moreActions .dropdown .dropdown-menu.show {
  inset: 26px auto auto -26px !important;
}
body.en main .explore_ads .categories_slider .swiper-slide .category {
  padding: 4px 26px 4px 4px;
}
body.en main .explore_ads .categories_slider .swiper-slide .category.sub {
  padding: 10px 16px;
}
body.en .form .phone_field .countriesMenu {
  right: 0;
  left: unset;
}
body.en .closeModal {
  right: 16px;
  left: unset;
}/*# sourceMappingURL=main.css.map */